body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    background-color: black;
}

button {
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    background-color: #4B0082;
    color: white;
    border: 5px;
    border-color: white;
    border-radius: 6px;
}

button:hover {
    background-color: #C27BFF;
    transition: 0.3s;
}

textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #444;
    background-color: #333;
    color: #fff;
    resize: vertical;
    outline: none;
    box-sizing: border-box;
}

textarea:focus {
    border-color: black;
}
